$color:pink;
html,body{
    background-color: $color;
    // 禁止复制文字
    user-select: none;
    width: 100%;
    height: 100%;
}
img{
    //禁止拖拽图片
    -webkit-user-drag: none;
}
 .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }